.calendarien--dow {
    height: 24px;
    padding-top: 12px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.calendarien--dow span {
    text-transform: uppercase;
    letter-spacing: -.3px;
    display: inline-block;
    width: calc(100% / 7);
    text-align: center;
}