.btn {
    display: inline-block;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}

.btn * {
    vertical-align: middle;
}

.btn + .btn {
    margin-left: 8px;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn__prev, .btn__next {
    font-size: 24px;
}

.btn.btn__default {
    border-radius: 3px;
    background-color: rgb(204, 204, 204);
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.btn.btn__default:disabled {
    color: rgb(182, 182, 182);
    background-color: rgba(204, 204, 204, .7);
}