.calenderien--day {
    display: flex;
    padding: 2px 0;
    width: calc(100% / 7);
    height: inherit;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
}

.calenderien--day.today {
    border: 2px solid rgb(72, 127, 255);
}

.calenderien--day.selected {
    background-color: rgba(191, 210, 255, 0.5);
}

.calenderien--day.disabled {
    color: #e6e6e6 !important;
    background-color: #fff !important;
    cursor: not-allowed !important;
}

.calenderien--day__current:hover {
    background-color: rgba(183, 205, 255, .5);
}

.calenderien--day:not(.calenderien--day__current) {
    color: #b8b8b8;
}

.calenderien--day:not(.calenderien--day__current):hover {
    background-color: #ececec;
}