.calendarien--week {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
}

.calendarien--week:first-child {
    padding-top: 8px;
}